.monthly-page {
  background-color: wheat;
  position:relative;
  height: 100vh;
  min-height: 300px;
}
.monthly-form {
  background-color: white;
  height: 80vh;
}
.header {
  background-color: wheat;
  font-size: 60px;
  color: white;
  height: 10vh;
}
.title {
  margin-top: 60px;
  font-size: 27px;
  text-align: center;
  color: #000;
}
.set {
  margin-bottom: 30px;
}
.form {
  position: relative;
}
.bottom {
  background-color: wheat;
  height: 10vh;
}